pandas
numpy
Faker
redis
neo4j
python-dotenv
scikit-learn==1.5.1
joblib
streamlit==1.37.0
streamlit-agraph
plotly
networkx
python-louvain
pyyaml
matplotlib
tenacity==8.5.0
toolz==0.12.1
requests==2.32.3